<html>
    <head>
        <body>
            <a href="{{ path('app_home') }}">Home</a>
            <a href="{{ path('app_author_show') }}">Author page</a>
            <a href="{{ path('app_author_list') }}">Authors list</a>
            <a href="{{ path('app_contact') }}">Contact us</a>

            <h1>The author name : <i>{{ authorName }}</i></h1>
            <h1>The author email : <i>{{ authorEmail }}</i></h1>
        </body>
    </head>
</html>